.da-breadcrumb .breadcrumb {
  list-style: none;
  margin-left: 0;
  padding: 20px;
  margin: 0;
}

.da-breadcrumb .breadcrumb > li {
  display: inline-block;
}

.da-breadcrumb .breadcrumb > li:not(:last-child) {
  margin-right: 10px;
}

.da-breadcrumb .breadcrumb a {
  text-decoration: none;
}

.da-breadcrumb .breadcrumb .icon {
  padding-left: 10px; 
  display: inline-block;
}

.da-breadcrumb .section-title {
  display: none;
}

@media (max-width: 767px) {
  
  .da-breadcrumb .section-title {
    display: block;
    padding: 1em;
    cursor: pointer;
  }
  
  .da-breadcrumb .section-title:before {
    content: "▾ ";
  }
  
  .da-breadcrumb .section-title.open:before {
    content: "▴ ";
  }

  .da-breadcrumb .breadcrumb {
    padding: 1em;
    margin: 0;
    background: #fcfcfc;
    border: 1px solid #eee;
    border-top: 0;
    display: none;
  }

  .da-breadcrumb .breadcrumb > li {
    width: 100%;  
  }
  
  .da-breadcrumb .breadcrumb > li:not(:last-child) {
    margin: 0; 
  }
  
  .da-breadcrumb .breadcrumb > li {
    padding: 5px 0;
  }
  
  .da-breadcrumb .breadcrumb .icon {
    display: none; 
  }
  
}

@media (min-width: 768px) {
  
  .da-breadcrumb .breadcrumb {
    display: block !important;
  }
  
}
