.da-three-column-testimonial .flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  margin-right: -20px;
  margin-left: -20px;
}

.da-three-column-testimonial .flex .col {
  flex: 1;
  padding: 20px 20px;
}

.da-three-column-testimonial .flex .col.content {
  flex: 0 0 35%;
  max-width: 35%;
}

.da-three-column-testimonial .card-flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  margin-right: -12px;
  margin-left: -12px;
}

.da-three-column-testimonial .card-flex .card-col {
  padding: 20px 12px;
  flex: 0 0 50%;
  max-width: 50%;
}

.da-three-column-testimonial .card.testimonial-active {
  color: #fff;
}

.da-three-column-testimonial .card {
  padding: 40px 35px;
}

.da-three-column-testimonial .card .client-avatar {
  width: 50px;
  height: 50px;
  margin-right: 18px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.da-three-column-testimonial .card .client {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.da-three-column-testimonial .tagline-wrap {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
}

.da-three-column-testimonial .tagline-wrap .tagline-line {
  width: 30px;
  height: 2px;
}

@media (max-width: 1139px) {

  .da-three-column-testimonial .card {
    padding: 30px 20px;
  }
  
  .da-three-column-testimonial .card .client-avatar {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }

}

@media (max-width: 767px) {

  .da-three-column-testimonial .flex.left-card .col:first-child {
    order: 2;
  }
  
  .da-three-column-testimonial .flex .col {
    flex: 0 0 100%;
  }

  .da-three-column-testimonial .card-flex .card-col {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .da-three-column-testimonial .flex .col.content {
    flex: 0 0 100%;
    max-width: 100%;
  }

}

.da-three-column-testimonial .flex.flex--right-card {
  flex-direction: row-reverse;
}