.da-hero-2 .flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  margin-right: -12px;
  margin-left: -12px;
}

.da-hero-2 .flex .col {
  flex: 1;
  padding: 20px 12px;
}

.da-hero-2 .tagline-wrap {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
}

.da-hero-2 .tagline-wrap .tagline-line {
  width: 30px;
  height: 2px;
}

@media (max-width: 767px) {

  .da-hero-2 .flex.left-button .col:first-child {
    order: 2;
  }
  
  .da-hero-2 .flex .col {
    flex: 0 0 100%;
  }

}